settings.json
*.csv
*.json

Unreleased Versions/ag_union.sql
Unreleased Versions/rack_servicenow.sql
Unreleased Versions/device_trends.sql
Unreleased Versions/hexaware_software_inventory.sql
Unreleased Versions/hexaware_service_communication.sql
Unreleased Versions/hexaware_mounts.sql
Unreleased Versions/hexaware_all_devices.sql
