{
  "output_filename": "reports/fedramp",
  "output_format": "csv",
  "description": "Device",
  "query": "select
      sip.ip \"IPv4 or IPv6 Address\",
      d.device_pk,
      a.appcomp_pk,
      s.software_pk,
      si.serviceinstance_pk,
      d.asset_no \"UNIQUE ASSET IDENTIFIER\",
      d.virtual_host \"Virtual\",
      null \"Public\",
      null \"NetBIOS Name\",
      null \"MAC Address\",
      null \"Authenticated Scan\",
      null \"Baseline Configuration Name\",
      d.os_name \"OS Name\",
      d.os_version \"OS Version\",
      r.name \"Location\",
      null \"Asset Type\",
      null \"Hardware Make/Model\",
      null \"In Latest Scan\",
      v.name \"Software/ Database Vendor\",
      s.name \"Software Name\",
      su.version \"Software Version\",
      null \"Patch Level\",
      null \"Function\",
      s.notes \"Comments\",
      null \"Serial #/Asset Tag#\",
      sn.network \"VLAN/Network ID\",
      null \"Administrator/ Owner\",
      null \"Application Administrator/ Owner\"
  from
      view_device_v1 d
      left join view_appcomp_v1 a on a.device_fk = d.device_pk
      left join view_softwareinuse_v1 su on su.device_fk = d.device_pk
                                   and su.appcomp_fk = a.appcomp_pk
      left join view_software_v1 s on s.software_pk = su.software_fk
      left join view_serviceinstance_v1 si on si.device_fk = d.device_pk
                                      and si.appcomp_fk = a.appcomp_pk
      left join view_serviceportip_v1 sip on sip.mapped_serviceinstance_fk = si.serviceinstance_pk
      left join view_room_v1 r on r.room_pk = d.calculated_room_fk
      left join view_vendor_v1 v on v.vendor_pk = s.vendor_fk
      left join view_ipaddress_v1 ip on ip.ip_address = sip.ip or case when family(ip.ip_address) = 4 then host(('::ffff:' || ip.ip_address::text)::inet)::inet else null end = sip.ip
      left join view_subnet_v1 sn on sn.subnet_pk = ip.subnet_fk",
  "limit": null,
  "offset": 1000,
  "date": {
    "column": null,
    "days_limit": null
  }
}
