{
  "output_filename": "reports/device-shares",
  "output_format": "csv",
  "description": "Device with Shares",
  "query": "SELECT d.device_pk, d.name, d.serial_no, d.uuid UUID,
          ns.name, ns.path, ns.caption, ns.description, ns.status, ns.type, ns.install_date
          from view_device_v1 d
          left join view_networkshare_v1 ns on ns.device_fk = d.device_pk
          order by d.device_pk",
  "limit": null,
  "offset": 1000,
  "date": {  
    "column": null,
    "days_limit": null
  }
}

